
Practice/course_1/.vs/course_1/v16/Browse.VC.db
Practice/course_1/.vs/course_1/v16/ipch/AutoPCH/1b0241f3ae19b8a1/IMAGE.ipch
Practice/course_1/.vs/course_1/v16/ipch/AutoPCH/34890ae0198fe0d/CHAPTER_2.ipch
Practice/course_1/.vs/course_1/v16/ipch/AutoPCH/4cf887ce9e6b91c8/MATRIX.ipch
Practice/course_1/.vs/course_1/v16/ipch/AutoPCH/78007dfd375b584/COURSE_1.ipch
Practice/Idan/P_1/.vs/course_1/v16/ipch/AutoPCH/1b0241f3ae19b8a1/IMAGE.ipch
Practice/Idan/P_1/.vs/course_1/v16/ipch/AutoPCH/34890ae0198fe0d/CHAPTER_2.ipch
Practice/Idan/P_1/.vs/course_1/v16/ipch/AutoPCH/4cf887ce9e6b91c8/MATRIX.ipch
Practice/Idan/P_1/.vs/course_1/v16/ipch/AutoPCH/78007dfd375b584/COURSE_1.ipch
Practice/Idan/P_1/course_1.sln
.vs/VSWorkspaceState.json
